<div class="container" style="margin-top: 30px;">
	<%if current_user.present?%>
     <%= link_to "Manage Ads", post_ads_path, :class=>"btn", :style => " background-color: white; font-weight: bold; color: black; float: right;" %>
     <%if current_user.is_admin?%>
     <%= link_to "View Reported Ads", reports_path, :class=>"btn", :style => "font-weight: bold; color: black; float: right; background-color: white; margin-right: 10px;" %>
     <%end%>
  <%end%>
<%= form_tag :dashboard_search, method: :get do %>
  <%= text_field_tag :search, nil, class:"form-control fa fa-search", placeholder:"Search By City", required: true, :id => "mysearch"%>
<%end%>	
<div style="background-color: white; margin-bottom: 40px; border: 3px solid red;">
	<div class="row" style="margin: 1px; line-height: 2;">
		<% @continents&.each do |con|%>
		<div class="col-sm-6">
			<div data-toggle="collapse" data-target=".lp<%= con.id%>" style="background-color: #F3F6FB; font-size: 25px; border-radius: 5px; margin-bottom: 2px; padding-left: 10px; color: red;"><b class="noselect"><%= con&.name%></b></div>
			<% con.countries.includes(:cities)&.order("name ASC").each do |country|%>
			<div class="collapse lp<%= con.id %>">
			<div class="col-md-4">
			  <p style="color:white;"><h4><%= country&.name %></h4></p>
			  <% country.cities.order("name ASC").each do |city|%>
			   <% if current_user.present? %>
			    <p><%= link_to city.name, new_post_ad_path(category_id: @category_id, cat_id: @sub_category_id, city_id: city.id)%></p>
			    <% else %>
			    	<p><%= link_to city.name, published_adz_post_ads_path(category_id: @category_id, cat_id: @sub_category_id, city_id: city.id)%></p>
			    <% end %>
			  <%end%>
			  </div>
			  </div>
			<%end%>
		</div>
		<%end%>
	</div>
</div>
</div>