
<div class="container" style="width: auto; background-color: black; margin: 40px 50px 0px 50px;">
	
	<center style= "margin: 0px -50px 0px -50px;"><div style="background-color: white; width: 70%; border: 5px solid red;">
		<center><h1>Privacy Policy</h1></center>
	    <div class="container about" style="margin: auto; width: 95%; color: black; text-align: left; border: 1px solid black; margin-bottom: 20px;">
		   <p  style="width: auto; font-size: 20px;"><p style="text-align: justify; font-size: 15px; line-height: 30px; color: black; width: auto;">
				<%= t('pp1')%> <h4><%= t('privacy')%> </h4>

				<h4><%= t('accept')%></h4>
				<p><%= t('pp2')%> </p>

				<h4><%= t('pcollection')%></h4>
				<p><%= t('pp3')%></p>
				<%= t('pspan1')%>
				<h4><%= t('pproved')%></h4>
				<li><%= t('pli1')%></li>
				<li><%= t('pli2')%></li>
				<li><%= t('pli3')%></li>
				<li><%= t('pprocess')%></li>
				<h4><%= t('pimprove')%> <a href ="postadz.com">PostAdz.com </a></h4>
				<p><%= t('pp4')%></p>
				  
				<p><%= t('pp5')%></p>




				<h4><%= t('pdisclosure')%> </h4>

				<p><%= t('pp6')%> </p>
				<li> <%= t('pli4')%></li>
				 <li> <%= t('pli5')%></li> 
				<li> <%= t('pli6')%></li>
				 <li> <%= t('pli7')%> </li>
				<li><%= t('pli8')%></li>
				 <li> <%= t('pli9')%></li>
				 <li> <%= t('pli10')%><li>
				<li><%= t('pli11')%><li>
				<%= t('pspan2')%>

				<h4><%= t('pdisclosure2')%></h4>

				<p><%= t('pp7')%></p>
				<li> <%= t('pli12')%></li>
				<li> <%= t('pli13')%></li>
				<li> <%= t('pli14')%></li>
				<li> <%= t('pli15')%></li>
				 <li> <%= t('pli16')%></li>
				<p> <%= t('pp8')%></p>

				<h4><%= t('assort')%></h4>

				<p><%= t('pp9')%></p>
				<li> <%= t('pli17')%></li>
				<li> <%= t('pli18')%> </li>
				<li><%= t('pli19')%></li>
				<p><%= t('pp10')%></p>

				<p><%= t('pp11')%></p>

				<h4><%= t('communication')%></h4>

				<p><%= t('pp12')%> </p>

				<h4><%= t('corress')%></h4>

				<p><%= t('pp13')%></p>
				Contact Us: 
				Email: <a href = "linkto:admin@postadz.com" target = "_blank">admin@Postadz.com</a>
				Phone: 1-914-705-0000



				 <h4><%= t('adult')%></h4>

				<p><a href="postadz.com">PostAdz.com</a> <%= t('pp14')%></p>
				<p><%= t('pp15')%></p>

				<h4><%= t('plink')%> </h4>

				<p><a href="postadz.com">PostAdz.com</a> <%= t('pspan3')%> <a href="postadz.com">PostAdz.com</a> <%= t('pspan4')%> <a href="postadz.com">PostAdz.com</a> <%= t('pspan5')%><a href="postadz.com">PostAdz.com</a> <%= t('pspan6')%> <a href="postadz.com">PostAdz.com</a> ) <%= t('pspan7')%></p>

				<h4><%= t('pecom')%> </h4>

				<p><%= t('pspan8')%> <a href="postadz.com">PostAdz.com</a> are processed through our secure server in order to make every reasonable effort to insure that your personal information is protected. </p>
				<p>Please know that <a href="postadz.com">PostAdz.com</a> <%= t('pspan9')%><a href="postadz.com">PostAdz.com</a> control. We cannot guarantee the security of the info on and sent from <a href="postadz.com">PostAdz.com</a> . </p>
				<p>On <a href="postadz.com">PostAdz.com</a> , <%= t('pspan10')%> </p>

				<h4><%= t('ppolicy')%> </h4>

				<p><%= t('pspan11')%> <a href="postadz.com">PostAdz.com</a> <%= t('pspan12')%> </p>


				<h4><%= t('pmore')%></h4
				<p> e-mail us  <a href = "linkto:support@postadz.com" target = "_blank">support@PostAdz.com</a> <%= t('pspan13')%></p>
				</p></p>
		</div>
	</div></center>
</div>