<div class="container" style="margin-top: 30px;">
	<%if current_user.present?%>
     <%= link_to "Manage Ads", post_ads_path, :class=>"btn", :style => " background-color: white; font-weight: bold; color: black; float: right;" %>
     <%if current_user.is_admin?%>
     <%= link_to "View Reported Ads", reports_path, :class=>"btn", :style => "font-weight: bold; color: black; float: right; background-color: white; margin-right: 10px;" %>
     <%end%>
  <%end%>
<%= form_tag :dashboard_search, method: :get do %>
  <%= text_field_tag :search, nil, class:"form-control fa fa-search", placeholder:"Search Your City", required: true, :id => "mysearch"%>
<%end%>	
<div style="background-color: white; margin-bottom: 40px;">
	<div class="row" style="margin: 1px; line-height: 2;">
		<% @continents&.each do |con|%>
		<div class="col-sm-6">
			<div data-toggle="collapse" data-target=".lp<%= con.id%>" style="background-color: #F3F6FB; font-size: 25px; border-radius: 5px; margin-bottom: 2px; padding-left: 10px; color: red;"><b><%= con&.name%></b></div>
			<% con.countries&.order("name ASC").each do |country|%>
			<div class="collapse lp<%= con.id %>">
			<div class="col-md-4">
			  <p style="color:white;"><h4><%= country&.name %></h4></p>
			  <% country.cities.order("name ASC").each do |city|%>
			    <p><%= link_to city.name, categories_path(id: city.id)%></p>
			  <%end%>
			  </div>
			  </div>
			<%end%>
		</div>
		<%end%>
	</div>
</div>
</div>