<div class="container">
<%= form_tag :dashboard_search, method: :get do %>
  <%= text_field_tag :search, nil, class:"form-control", placeholder:"Search Your City", required: true%>
<%end%>	
<div style="background-color: white; margin-bottom: 123px; margin-top: 20px;">
	<div class="row" style="margin: 1px;">
		<% @continents&.each do |con|%>
		<div class="col-sm-6">
			<div data-toggle="collapse" data-target=".lp<%= con.id%>" style="background-color: #F3F6FB; font-size: 25px; border-radius: 5px; margin-bottom: 2px; padding-left: 10px; color: red;"><b><%= con&.name%></b></div>
			<% con.countries&.order("name ASC").each do |country|%>
			<div class="collapse lp<%= con.id %>">
			<div class="col-md-4">
			  <p style="color:white;"><h4><%= country&.name %></h4></p>
			  <% country.cities.order("name ASC").each do |city|%>
			    <p><%= link_to city.name, categories_path(id: city.id)%></p>
			  <%end%>
			  </div>
			  </div>
			<%end%>
		</div>
		<%end%>
	</div>
</div>