<div class="container">
<div style="background-color: white;" >
	<div class="row" style="margin: 1px;">
		<% @continents&.each do |con|%>
		<div class="col-sm-6">
			<span data-toggle="collapse" data-target=".lp<%= con.id%>" style="background-color: #F3F6FB; font-size: 25px; border-radius: 5px; margin-bottom: 2px; padding-left: 10px; color: red;"><b><%= con&.name%></b></span>
			<% con.countries&.each do |country|%>
			<div class="collapse lp<%= con.id %>">
			<div class="col-md-4">
			  <p style="color:white;"><h4><%= country&.name %></h4></p>
			  <% country.cities.each do |city|%>
			    <p><%= link_to city.name, categories_path(id: city.id)%></p>
			  <%end%>
			  </div>
			  </div>
			<%end%>
		</div>
		<%end%>
	</div>
</div>