<div class="container" style="width: auto; background-color: black; margin: 40px 50px 0px 50px;">
	
	<center style= "margin: 0px -50px 0px -50px;"><div style="background-color: white; width: 70%; border: 5px solid red;">
		<center><h1>Terms & Conditions</h1></center>
		    <div class="container about" style="margin: auto; width: 95%; color: black; text-align: left; border: 1px solid black; margin-bottom: 20px;">
		   <p  style="width: auto; font-size: 20px;">
		   		<p><a href="postadz.com">PostAdz.com</a><%= t('para1_terms')%></p>
				<p><%= t('para2_terms')%></p>

				<h4><%= t('user_conduct')%></h4>

				<p><%= t('p3')%><p>
				<li> <%= t('li1')%></li>
				<li> <%= t('li2')%></li>
				<li> <%= t('li3')%></li>
				<li>
				<%= t('li_a')%> <br>
				<%= t('li_b')%><br>
				<%= t('li_c')%><br>
				<%= t('li_d')%><br>
				<%= t('li_e')%></li>
				<li> <%= t('li4')%></li>
				<li><%= t('li5')%></li>
				<li> <%= t('li6')%></li>
				<li> <%= t('li7')%></li>
				<li> <%= t('li8')%></li>
				<li> <%= t('li9')%></li>
				<li> <%= t('li10')%></li>
				<li> <%= t('li11')%></li>
				<li> <%= t('li12')%> </li>
				<li> <%= t('li13')%></li>
				<li><%= t('li14')%></li>
				<li><%= t('li15')%></li>
				<li> <%= t('li16')%></li>
				<li><%= t('li17')%></li>
				<li> <%= t('li18')%></li>
				<li> <%= t('li19')%></li>
				<li> <%= t('li20')%></li>


				<%= t('span1')%> <a href="linkto:admin@postadz.com" target = "_blank">Admin@postadz.com</a>
				<%= t('span2')%>


				<h4><%= t('use_material')%></h4>
				<p><%= t('p4')%></p>


				<h4><%= t('fair_housing')%></h4>
				<p><%= t('p5')%></p>
				<p><%= t('p6')%></p>

				<h4><%= t('termination')%> </h4>
				<p><%= t('p7')%></p>

				<h4><%= t('no_third')%></h4>
				<p><%= t('p8')%></p>

				<h4><%= t('copyright')%></h4>
				<p><%= t('p9')%></p>
				<p><%= t('p10')%></p>
				<li><%= t('li21')%></li>
				<li><%= t('li22')%></li>
				<li> <%= t('li23')%></li>
				<li> <%= t('li24')%></li>
				<li><%= t('li25')%> </li>
				<li> <%= t('li26')%></li>
				<p><%= t('p10')%><a href="linkto:admin@postadz.com" target = "_blank">Admin@postadz.com</a> <%= t('p11')%></p>
		   </p>
		</div>
	</div></center>
</div>