<div class="container">
  <%= form_with(model: reply, local: true) do |form| %>
  <% if reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reply.errors.count, "error") %> prohibited this reply from being saved:</h2>

      <ul>
      <% reply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container" style="border: 1px solid red; margin-top: 20px; margin-bottom: 20px; padding: 20px;">
      <strong style="color:red;font-size: 18px;">⚠️Warning⚠️</strong>
      <br><span style="color: white;">Post Adz will NEVER ASK YOU FOR ANY MONEY...... ALL PAYMENTS TO PLACE AM AD ARE MADE DIRECTLY THROUGH THE SITE.</span>
      <span style="color: white;">If anyone ask you on behalf of Post Adz to make any deposits of money, Bitcoin, PayPal or any other payment form its a scam. If someone ask you to click on any links for any payments, DONT DO IT.</span>   <b><strong style="color:red;">BEWARE AND CAREFUL OF SCAMMERS.... ONCE YOU CLICK THE " Send" YOU ARE ACKNOWLEDGING THIS WARNING ⚠️ AND POST ADZ WILL NOT BE HELD RESPONSIBLE FOR ANY FRAUD RELATED ISSUES.</strong></b>
    </div>
  <div class="field">
    <%= form.label :Email %>
    <%= form.text_field :email, value: current_user.email, :readonly => true, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :Write_a_message %>
    <%= form.text_area :text, class: "form-control height" %>
  </div>

  <div class="g-recaptcha" data-sitekey="6LcEyJ4aAAAAAPmFWrlMuiif1gkQanrcBreg2Pk7"></div>

  <div class="field">
    <%= form.hidden_field :user_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :post_ad_id %>
  </div>

  <div class="actions">
    <%= form.submit("Send") %>
  </div>
  <% end %>
</div>
<script type="text/javascript">
$(document).ready(function(){    
    //Check if the current URL contains '#'
    if(document.URL.indexOf("#")==-1){
        // Set the URL to whatever it was plus "#".
        url = document.URL+"#";
        location = "#";

        //Reload the page
        location.reload(true);
    }
});
</script>