<div class="container">
  <%= form_with(model: reply, local: true) do |form| %>
  <% if reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reply.errors.count, "error") %> prohibited this reply from being saved:</h2>

      <ul>
      <% reply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container" style="border: 1px solid red; margin-top: 20px; margin-bottom: 20px; padding: 20px;">
      <strong style="color:red;font-size: 18px;">Warning!!!!</strong>
      <br><strong style="color: white;">We do not call or text anyone. Spammers can ask for upfront money by claiming that they are the shareholder of postadz. Kindly ignore such messages.</strong>
      <br><span style="color: white;">If anyone ask you to deposit upfront money by</span>  <strong style="color: white;">bitcoin</strong> <span style="color: white;">or by any other way. Don’t make any deposit. They can be </span>  <strong style="color: white;">scammers</strong>.<span style="color: white;">They will take your money and will never respond your messages. If someone ask you to come to any other website out of postadz.com and ask you to signup with your </span>  <strong style="color: white;">credit or debit card</strong> <span style="color: white;">, don’t do that as well because they can also store your Card details to make unauthorized payments. Try to stay away from such scammers.</span>  <br><strong style="color:red;">PostAdz won’t be responsible for any fraud if you ignore this warning.</strong>
    </div>
  <div class="field">
    <%= form.label :Email %>
    <%= form.text_field :email, value: current_user.email, :readonly => true, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :Write_a_message %>
    <%= form.text_area :text, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :post_ad_id %>
  </div>

  <div class="actions">
    <%= form.submit("Send") %>
  </div>
  <% end %>
</div>