<div class="page" style =" background-color: white;">
    <div class="avt-post-wrapper section">

      <div class="container">

        <div class="avt-post">
          <!-- Start Form -->
          <%= form_with(model: post_ad, local: true) do |form| %>
              <% if post_ad.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(post_ad.errors.count, "error") %> prohibited this post_ad from being saved:</h2>

                  <ul>
                  <% post_ad.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

            <fieldset>

              <div class="product-section avtpost-fields">

                <div class="row">

                  <div class="col-xs-12">

                    <h3 >Post Your ad</h3>

                  </div>

                  <div class="col-md-12">
                    <div class="col-md-8">

                      <div class="row form-group">

                        <label >Title Of Ad: </label>

                          <%= form.text_field :title, required: true, :class => "form-control"%>                   
                      </div>

                      <div class="row form-group">

                        <label>Description: </label>
                          <%= form.cktext_area :description, class: 'form-control descr', ckeditor: { language: 'en'} %>
                      </div>
                      <div class="row form-group">

                        <label>KeyWords: </label>


                          <%= form.text_field :keywords, required: true, class:"form-control"%>
                          <span style="color: black;">Put your keywords in comma separated values (e.g. California,Albana)</span>

                      </div>


                      <div class="row form-group">

                        <label>Location: </label>

                          <%= form.text_field :location, required: true, :class => "form-control", :placeholder => "Enter a Location"%>
                    </div><!-- post-inner -->
                    <div class="checkbox choose-option">

                        <%= form.check_box :negotiable %>
                        <label style="color: black;">Forward email responses to me. </label>


                     </div>
                     <div class="row form-group">

                        <label>Contact Email: </label>

                          <%= form.text_field :email, value: post_ad&.user&.email, :readonly => true, class:"form-control"%>

                      </div>
                      <div class="row form-group">

                        <label>Phone: </label>

                          <%= form.text_field :phone, required: true, class:"form-control"%>

                      </div>

                    <div class="row form-group">

                        <label>Item Price <span>($ USD)</span> : </label>

                              <%= form.text_field :price, class:"form-control"%>

                      </div>
                      <div class="row form-group">
                        <label>Status</label>
                        <%= form.select :status, options_for_select(PostAd.statuses.keys, selected: post_ad.status) %>

                      </div>

                       <div class="row form-group">

                        <label >Upload Photo: </label>

                          <div class="upload-section">

                            <label class="upload-image" for="uploadOne">
                              <%= form.file_field :avatars, multiple: true, :id => "uploadOne" %>
  
                            </label>                    

                            <label class="upload-image" for="uploadTwo">

                              <%= form.file_field :avatars, multiple: true, :id => "uploadTwo" %>

                            </label>                      

                            <label class="upload-image" for="uploadThree">

                              <%= form.file_field :avatars, multiple: true, :id => "uploadThree" %>

                            </label>  

                            <label class="upload-image" for="uploadFour">

                               <%= form.file_field :avatars, multiple: true, :id => "uploadFour" %>

                            </label>  
                            <label class="upload-image" for="uploadFive">

                               <%= form.file_field :avatars, multiple: true, :id => "uploadFive" %>

                            </label>  

                          </div>

                      </div>


                  </div>
                </div>

                     <div class="row form-group">
                      
                        <div class="col-md-8">
                        <% if post_ad.city_id.present? %>
                          <%= form.hidden_field :city_id, value: post_ad.city_id  %>
                        <%else%>
                          <%= form.hidden_field :city_id, value: @city.id  %>
                        <%end%>
                        </div>

                      </div>

                      <div class="row form-group">
                        <div class="col-md-8">
                        <% if post_ad.category_id.present? %>
                          <%= form.hidden_field :category_id, value: post_ad.category_id %>
                        <%else%>
                          <%= form.hidden_field :category_id, value: @category_id  %>
                        <%end%>
                        </div>

                      </div>

                      <div class="row form-group">
                        <div class="col-md-8">
                        <% if post_ad.sub_category_id.present? %>
                        <%= form.hidden_field :sub_category_id, value: post_ad.sub_category_id %>
                        <%else%>
                        <%= form.hidden_field :sub_category_id, value: @sub_category_id %>
                        <%end%>

                        </div>

                      </div>

                </div>

              </div><!-- product-section -->



               <!-- <div class="seller-section avtpost-fields">

                <div class="row">

                  <div class="col-xs-12">

                    <h3>Seller Information</h3>

                  </div>

                  <div class="col-md-6">

                    <div class="post-inner">

                      <div class="row form-group">

                        <label class="col-md-4">Contact Name: </label>

                        <div class="col-md-8">
                          
                          <%= form.text_field :email, value: post_ad&.user&.full_name, :readonly => true, class:"form-control"%>

                        </div>

                      </div>

                    </div>

                  </div>

                </div>  -->

              </div><!-- seller-section -->



              <div class="seller-option avtpost-fields">

                <div class="row">

                  <div class="col-md-12">

                    <h3>Upgrades</h3>

                  </div>

                  <div class="col-md-12">

                    <div class="post-inner">

                      <div class="form-group">

                        <span>Add near by Cities: <span>$00.00</span> </span>

                        <div class="premium-avts">

                          <ul>

                            <li class="premium-avt">

                              <input type="radio" name="premiumAvt" value="option-one" id="option-one">

                              <label for="option-one">Regular Ad</label>

                              <span>$00.00</span>

                            </li>

                            <li class="premium-avt">

                              <input type="radio" name="premiumAvt" value="option-two" id="option-two">

                           <label for="option-two">Top Featured Ads</label>

                              <span>$59.00</span>

                            </li>

                            <li class="premium-avt">

                              <input type="radio" name="premiumAvt" value="option-three" id="option-three">

                              <label for="option-three">Urgent Ads</label>

                              <span>$79.00</span>

                            </li>             

                          </ul>

                        </div>

                      </div>

                    </div><!-- post-inner -->

                  </div>

                  <div class="col-md-12">

                    <div class="post-inner">

                      <div class="form-group">

                        <span>Please select the preferred payment method: </span>

                        <div class="payment-options">

                          <ul>

                            <li class="payment-option">

                              <input type="radio" name="payment-option" value="payment-one">

                              <label for="payment-one">Direct Bank Transfer</label>

                            </li>

                            <li class="payment-option">

                              <input type="radio" name="payment-option" value="payment-two">

                              <label for="payment-two">Cheque Payment</label>

                            </li>

                            <li class="payment-option">

                              <input type="radio" name="payment-option" value="payment-three">

                              <label for="payment-three">Credit Card</label>

                            </li>             

                          </ul>

                        </div>

                      </div>

                    </div><!-- post-inner -->

                  </div>

                </div>

              </div><!-- seller-option -->
                 <div class="g-recaptcha" data-sitekey="6LcEyJ4aAAAAAPmFWrlMuiif1gkQanrcBreg2Pk7
">
                   
                 </div>

              <div class="submit-section">

                <div class="ad-condition checkbox">

                  <label for="submit-post">

                    <%= form.check_box :terms_privacy, required: true %>

                    By click you must agree with <a href="#">our  Terms &amp; Condition</a> and

                                    <a href="#">Posting Rules</a>.

                  </label>

                </div>

                <div class="submit-button">
                    <%= form.hidden_field :user_id, value: current_user.id %>
                    <%= form.submit(class:"btn btn-primary") %>

                </div>

              </div>

            </fieldset>

          <% end %>  <!--End Form -->

        </div>

      </div>

    </div> <!-- avt-post -->

  </div>  <!-- page -->

<script type="text/javascript">
$(document).ready(function(){    
    //Check if the current URL contains '#'
    if(document.URL.indexOf("#")==-1){
        // Set the URL to whatever it was plus "#".
        url = document.URL+"#";
        location = "#";

        //Reload the page
        location.reload(true);
    }
});
</script>