<div class="container" style="color: white;">
<p id="notice"><%= notice %></p>

<h1>Post Ads</h1>

<table class="table table-bordered" >
  <thead>
    <tr>
      <th>Title</th>
      <th>status</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @post_ads.order("created_at DESC").each do |post_ad| %>
      <tr>
        <td><%= post_ad.title %></td>
        <% if post_ad.stopped? %>
          <td style="color: red;"><%= post_ad.status%></td>
        <%else%>
          <td style="color: green;"><%= post_ad.status%></td>
      <% end %>
        <td><%= link_to 'View All Replies', replies_path(id: post_ad.id) %></td>
        <td><%= link_to 'Show', post_ad %></td>
        <td><%= link_to 'Edit', edit_post_ad_path(post_ad) %></td>
        <td><%= link_to 'Destroy', post_ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
