<div class="container" style="color: black; background-color: white;" >
<p id="notice"><%= notice %></p>
<%@cities.each do |e|%>
 <% if e.id == @city.id%>
 <%= link_to e.name, published_adz_post_ads_path(city_id: e.id, cat_id: @sub_category_id, category_id: params[:category_id]), :style => "color: black;"%>||
 <%else%>
  <%= link_to e.name, published_adz_post_ads_path(city_id: e.id, cat_id: @sub_category_id, category_id: params[:category_id]), :style => "color: red;"%> ||
<%end%>
<%end%>

<h1>Live Ads</h1>

<table class="table" >
  <thead>
    <tr>

      <!-- <th>Location</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Description</th>
      <th>status</th> -->

    </tr>
  </thead>

  <tbody>
    <% @post_ads.group("date(post_ads.created_at)").count.keys.reverse.each do |e| %>
      <div style="background-image: linear-gradient(to right, #eeeeee, black);"><p style="color:red"><%= e.strftime("%B %d, %Y") %> </p></div>
    <% @post_ads.where('created_at BETWEEN ? AND ?', e.beginning_of_day, e.end_of_day).each do |post_ad| %>
  
        <p><%= link_to post_ad.title, post_ad, :style => "color: black;", :class => "publi" %><strong> <span style="font-size: 16px;"> [ <%= post_ad.location%> ]</span> <%= post_ad.created_at.strftime("%H:%M:%S") %></strong></p>  
      
    <% end %>
    
    <% end %>
  </tbody>
</table>

<br>
</div>