
<div class ="container addpage">
  <%if current_user.present?%>
     <%= link_to "Manage Ads", post_ads_path, :style => "font-weight: bold; color: black; float: right;", :class=>"homeshow" %>
  <%end%>
</div>
<div class="container" style="margin-top: 20px;">
<%= link_to "Reply Ad", replies_path(id: @post_ad.id), class:"btn", style:"background-color: white;" %>
<%= link_to "Report Ad", reports_path(post_ad_id: @post_ad.id, user_id: current_user&.id), :class => "report", class:"btn", style:"background-color: red; color:white;", :method => :post %>

<p>
  <strong>Title:</strong>
  <%= @post_ad.title %>
</p>

<div class="container">
<% @post_ad.avatars.each do |avatar|%>
<%= image_tag avatar.url, style: 'width:300vw;margin-bottom:10px; border-radius: 10px; float:left;' %>
<%end%>
</div>

<p>
  <strong>Description:</strong>
  <%= @post_ad.description.html_safe %>
</p>

<p>
  <strong>Location:</strong>
  <%= @post_ad.location %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @post_ad.phone %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @post_ad.keywords %>
</p>
<!-- 
<p>
  <strong>Nego:</strong>
  <%= @post_ad.negotiable %>
</p> -->
<p>
  <strong>Price:</strong>
  <%= @post_ad.price %>
</p>

<p>
  <strong>Email:</strong>
  <%= @post_ad.email %>
</p>

<!-- <p>
  <strong>Get response:</strong>
  <%= @post_ad.get_response %>
</p>

<p>
  <strong>Terms privacy:</strong>
  <%= @post_ad.terms_privacy %>
</p>

<p>
  <strong>User Name:</strong>
  <%= @post_ad.user.full_name %>
</p>
<p>
  <strong>Avatar:</strong>
  <%= image_tag(@post_ad.user.avatar_url, height: 50) %>
</p>
<p>
  <strong>Email:</strong>
  <%= @post_ad.user.email %>
</p> -->


</div>