
<div class ="container addpage">
  <%if current_user.present?%>
     <%= link_to "Manage Ads", post_ads_path, :style => "font-weight: bold; color: black; float: right;", :class=>"homeshow" %>
  <%end%>
</div>
<div class="container" style="margin-top: 30px; background-color: white; width: 95%;">
  <%= link_to "Reply Ad", new_reply_path(id: @post_ad.id, reply: true), class:"btn", style:"background-color: #f1de30; color: black;" %><!-- replies -->
  <%= link_to "Report Ad", recapcha_submit_reports_path(id: @post_ad.id, user_id: current_user&.id), class:"btn", style:"background-color: red; color: black;" %>
    <p>
      <h5 style="color: black;" class="spcerm"><strong>Title: <%= @post_ad.title %></strong></h5>
    </p>
    <p>
      <h5 style="color: black;" class="spcerm"><strong>Price $: <%= @post_ad.price %></strong></h5>
    </p>
    <h4 style="color: red; text-decoration: underline;"><strong>Overview:</strong></h4>
<div class="container" style="color: black;">
  <p class="spcerm">
    <strong>Post ID #:</strong>
    <span><%= @post_ad.id %></span>
  </p>
  <p class="spcerm">
    <strong>Zipcode #:</strong>
    <span><%= @post_ad.zipcode %></span>
  </p>

  <p class="spcerm"> 
    <strong>Phone #:</strong>
    <span><%= @post_ad.phone %></span>
  </p>

  <p class="spcerm">
    <strong>Location:</strong>
    <span><%= @post_ad.location %></span>
  </p>


 <!--  <p class="spcerm">
    <strong>Keywords:</strong>
    <span><%= @post_ad.keywords %></span>
  </p> -->
  <!-- 
  <p>
    <strong>Nego:</strong>
    <%= @post_ad.negotiable %>
  </p> -->

  <p class="spcerm1" style="margin-top: -5px;">
    <strong>Email:</strong>
    <span><%= @post_ad.email %></span>
  </p>
  <p class="spcerm1" style="margin-top: -9px;">
    <strong>Posted In:</strong>
    <span><%= @post_ad.city.name %>, <%= @post_ad.category.name%>, <%= @post_ad.sub_category.name%></span>
  </p>

</div>
<h4 style="color: red; text-decoration: underline; margin-top: -6px;"><strong>Description:</strong></h4>
      <div class="container" style="color: black; padding-bottom: 50px;">
        <p ><%= @post_ad.description.html_safe %></p>
      </div>

    <div class="container">
      <% @post_ad.avatars.each do |avatar|%>
      <%= image_tag avatar.url, style: 'width: 74%; margin-bottom:10px; border-radius: 10px; float:left;' %>
      <%end%>
    </div>
    <h4 style="float: left; color: red; text-decoration: underline; margin-top: -6px;"><strong>Video:</strong></h4><br>
    <div class="container">
      <% if @post_ad&.clip_blob.present? %>
      <%= video_tag(url_for(@post_ad&.clip), style: 'width: 74%; margin-bottom:10px; border-radius: 10px; margin-left: -40px;', controls: "") %>
      <%end%>
    </div>
<!-- <p>
  <strong>Get response:</strong>
  <%= @post_ad.get_response %>
</p>

<p>
  <strong>Terms privacy:</strong>
  <%= @post_ad.terms_privacy %>
</p>

<p>
  <strong>User Name:</strong>
  <%= @post_ad.user.full_name %>
</p>
<p>
  <strong>Avatar:</strong>
  <%= image_tag(@post_ad.user.avatar_url, height: 50) %>
</p>
<p>
  <strong>Email:</strong>
  <%= @post_ad.user.email %>
</p> -->


</div>