<p id="notice"><%= notice %></p>
<div class ="container addpage">
  <%if current_user.present?%>
     <button style ="float: right"><%= link_to "Manage Ads", post_ads_path, :style => "font-weight: bold; color: black;", :class=>"homeshow" %>
  <%end%></button>
</div>
<div class="container" style="margin-top: 20px;">
<p>
  <strong>Title:</strong>
  <%= @post_ad.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post_ad.description.html_safe %>
</p>

<p>
  <strong>Location:</strong>
  <%= @post_ad.location %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @post_ad.phone %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @post_ad.keywords %>
</p>
<p>
  <strong>Nego:</strong>
  <%= @post_ad.negotiable %>
</p>
<p>
  <strong>Price:</strong>
  <%= @post_ad.price %>
</p>

<p>
  <strong>Email:</strong>
  <%= @post_ad.email %>
</p>

<p>
  <strong>Get response:</strong>
  <%= @post_ad.get_response %>
</p>

<p>
  <strong>Terms privacy:</strong>
  <%= @post_ad.terms_privacy %>
</p>

<p>
  <strong>User Name:</strong>
  <%= @post_ad.user.full_name %>
</p>
<p>
  <strong>Avatar:</strong>
  <%= image_tag(@post_ad.user.avatar_url, height: 50) %>
</p>
<p>
  <strong>Email:</strong>
  <%= @post_ad.user.email %>
</p>
<p>
  <strong>Reply Ad:</strong>
  <%= link_to "click here to Reply Ad", replies_path(id: @post_ad.id) %>
</p>
</div>