<div class="container" style="width: auto; background-color: black; margin: 40px 50px 0px 50px;">
	
	<center style= "margin: 0px -50px 0px -50px;">
		<div class="container" style="background-color: white; width: 70%; border: 5px solid red;">
			<h3><%= t('disclaimer_h1')%></h3>
		 <p style="text-align: justify;"><%= t('disclaimer_p1')%> <a href = "postadz.com" >PostAdz.com</a> <%= t('disclaimer_p2')%> <a href ="/dashboard/privacy"><%= t('d_privacy')%></a><%= t('d_and')%> <a href = "dashboard/terms"><%= t('d_terms')%></a> <%= t('disclaimer_p3')%></p>
        <%if current_user.present?%>
		<%= link_to t('d_21'), dashboard_conshow_path(category_id: @category.id, sub_category: @cat_id.id), class:"btn", style:"background-color: red; color: black;" %>
		<%= link_to t('d_exit'), subcat_sub_categories_path(id: @category.id), class:"btn", style:"background-color: red; color: black;" %>
		<%else%>
		    <%= link_to t('d_21'), dashboard_conshow_path(category_id: @category.id, sub_category: @cat_id.id), class:"btn", style:"background-color: red; color: black;" %>
		<%= link_to t('d_exit'), subcat_sub_categories_path(id: @category.id), class:"btn", style:"background-color: red; color: black;" %>
		<%end%>

	</div></center>
</div>