<div class="container">
<h2><%= @category&.name%></h2>
  <div class="row" style="margin: 1px;">
    <div class="col-md-6">
      <div style="background-color: #F3F6FB; font-size: 25px; border-radius: 5px; margin-bottom: 2px; padding-left: 10px; color: red;"></div>
      <% @sub_categories&.each do |cat|%>
        <%if current_user.present?%>
          <%if @category&.name == "Love Personals"%>
            <li style="list-style-type: square; color: #fcea46; font-size: 2em;">
            <%= link_to cat&.name, disclaimer_sub_categories_path(id: cat.id, city_id: @city&.id, category_id: @category.id), :style => "color: white; font-size: 20px;"%></li>
          <%else%>  
            <li style="list-style-type: square; color: #fcea46; font-size: 2em;"><%= link_to cat&.name, new_post_ad_path(cat_id: cat.id, city_id: @city&.id, category_id: @category.id), :style => "color: white; font-size: 20px;"%></li>
          <%end%>
         <%else%>
                <%if @category&.name == "Love Personals"%>
                  <li style="list-style-type: square; color: #fcea46; font-size: 2em;">
                  <%= link_to cat&.name, disclaimer_sub_categories_path(id: cat.id, city_id: @city&.id, category_id: @category.id), :style => "color: white; font-size: 20px;"%></li>
                  <%else%>
                    <li style="list-style-type: square; color: #fcea46; font-size: 2em;">
                  <%= link_to cat&.name, published_adz_post_ads_path(cat_id: cat.id, city_id: @city&.id, category_id: @category.id), :style => "color: white; font-size: 20px;"%></li>
                  <%end%>
                 <%end%>
        <%end%>
    </div>
  </div>
</div>