<div class="container mainfooter">
	<div class="container footer" style="text-align: center;">
		<a href="<%=root_url%>">Home</a>
		<a href="<%=dashboard_about_us_path%>">About Us</a>
		<a href="<%=dashboard_contact_us_path%>">Contact Us</a>
		<a href="<%=dashboard_privacy_path%>">Privacy</a>
		<a href="<%=dashboard_terms_path%>">Terms</a>
		<a href="<%=root_url%>">Free Classified Ads</a>
		<a href="<%=root_url%>">Classifieds</a>
		<a href="<%=root_url%>">Personals</a>
	</div>
	<div class="footerDisclaimer">
					Post Adz is an interactive computer service that enables access by multiple users and should not be treated as the publisher.
					©&nbsp;2021&nbsp;
					<a class="maindomain" href="https://www.PostAdz.com">PostAdz</a>
				</div>
</div>