<div class="container mainfooter">
	<div class="container footer" style="text-align: center;">
		<a href="<%=root_url%>"><%= t('home_link_footer') %></a>
		<a href="<%=dashboard_about_us_path%>"><%= t('about_us_link_footer') %></a>
		<a href="<%=dashboard_contact_us_path%>"><%= t('contact_us_link_footer') %></a>
		<a href="<%=dashboard_privacy_path%>"><%= t('privacy_link_footer') %></a>
		<a href="<%=dashboard_terms_path%>"><%= t('term_link_footer') %></a>
		<a href="<%=root_url%>"><%= t('free_classified_ads_link_footer') %></a>
		<a href="<%=root_url%>"><%= t('classified_link_footer') %></a>
		<a href="<%=root_url%>"><%= t('personals_link_footer') %></a>
		<a href="<%=root_url%>" style="white-space: nowrap;"><%= t('ebay_alternative_link_footer') %></a>
		<a href="<%=root_url%>" style="white-space: nowrap;"><%= t('cra_alternative_link_footer') %></a>
		<a href="<%=root_url%>"><%= t('postadz_link_footer') %></a>
		<a href="<%=root_url%>"><%= t('dating_link_footer') %></a>
		<a href="<%=root_url%>"><%= t('love_link_footer') %></a>
	</div>
	<div class="footerDisclaimer">
					<%= t('disclaimer_footer') %>
					©&nbsp;2021&nbsp;
					<a class="maindomain" href="https://www.PostAdz.com">PostAdz</a>
				</div>
</div>
