<header id="header" class="clearfix">

			<div class="container topbar">

				<div class="container">

					<div class="row">
						<div class="col-sm-6">
							<a class="navbar-brand" href="<%= root_url%>"><%= image_tag("logo.jpeg", :alt => "Logo", :class => "img-responsive", :style => "border-radius: 3px; width: 150px; margin-top: -10px; margin-left: -20px;") %></a>
						</div>
						<div class="col-sm-4"></div>

						<div class="col-sm-2">

							<div class="user-section" style="float: right;">			

								<h3 class="list-line" >
									<%if current_user.present?%>
									      <li><%= link_to "Sign Out", dashboard_signout_path, :class => "btn", :style => "font-weight: bold;"%>
									       <%= link_to "Home", root_path, :style => "font-weight: bold; color: white;" %>
									      </li>
									    <% else %>

									<li > <%= link_to "My Account", dashboard_login_page_path, :class => "btn", :style => "font-weight: bold;" %>
										<%= link_to "Home", root_path, :style => "font-weight: bold;" %>

									</li>
								

									 <%end%>
								</h3>	
								<% if current_user.present? %>
								<button style="float: auto; border: 1px solid white; font-size: 22px; height: 40px; width: 82px; border-radius: 5px; background-color: white;"><strong><%= link_to 'POST',root_path, :class => "posthead", :style => "color: red;" %></strong>
								</button>
								<%else%>
						    	<button style="float: auto; border: 1px solid white; font-size: 22px; height: 40px; width: 82px; border-radius: 5px; background-color: white;"><strong><%= link_to 'POST',new_post_ad_path, :class => "posthead", :style => "color: red;" %></strong>
								</button>
								<%end%>

							</div><!-- user-section -->

						</div>

					</div>

				</div>

			</div><!-- topbar -->

	</header><!-- header -->