<center>
  <div>
    <h2>Please Fill Your Information!</h2>

    <%= form_with(model: userinformation, local: true) do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
          <label>Name:</label>
           <%= f.text_field :name, class: "form-control" %>
           <label>Email:</label>
           <%= f.email_field :email, value: current_user.email, class: "form-control" %>
           <label>Address:</label>
           <%= f.text_field :address, class: "form-control" %>
           <label>Phone:</label>
           <%= f.text_field :phone, class: "form-control" %>
           <%= f.submit %>
    <% end %>

  
  </div>
</center>