<center>
  <div class="container" style="width: 40%;">
    <h2>Please Fill Your Information!</h2>

    <%= form_for UserInformation.new do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <label style="float: left;">Name:</label>
       <%= f.text_field :name, class: "form-control" %>
       <label style="float: left;">Email:</label>
       <%= f.email_field :email, value: current_user.email, class: "form-control" %>
       <label style="float: left;">Address:</label>
       <%= f.text_field :address, class: "form-control" %>
       <label style="float: left;">Phone:</label>
       <%= f.text_field :phone, class: "form-control" %>
       <%= f.submit "Enter to Win!", style: "margin-top: 20px;" %>
    <%end %>
  
  </div>
</center>